$shockproof-background-color: #212529;
$shockproof-primary-color: #6200EE;
$shockproof-dark: #2d3035;
$shockproof-border-radius: 1rem;

@import "./BootstrapCustomization.scss";

@import "./scssLinks.scss";
