

$shockproof-background-color: #212529;
$shockproof-primary-color: #DB6574;
$shockproof-dark: #2d3035;
$shockproof-border-radius: 0rem;

@import "./BootstrapCustomization.scss";

@import "./scssLinks.scss";
