$shockproof-background-color: #222831;
$shockproof-primary-color: #00adb5;
$shockproof-dark: #393e46;
$shockproof-border-radius: 0rem;

@import "./BootstrapCustomization.scss";

@import "./scssLinks.scss";
