$shockproof-background-color: #222831;
$shockproof-primary-color: #00adb5;
$shockproof-dark: #393e46;
$shockproof-light: $shockproof-dark;
$shockproof-text-color: #8a8d93;
$shockproof-border-color: #444951;
$shockproof-border-width: 1px;
$shockproof-border-radius: 0rem;

@import "./BootstrapCustomization.scss";

@import "./scssLinks.scss";
