$shockproof-background-color: #0b5269;
$shockproof-primary-color: #978d58;
$shockproof-danger-color: #ff5252;
$shockproof-info-color: #8c9eff;
$shockproof-dark: #03051e;
$shockproof-light: $shockproof-dark;
$shockproof-text-color: $shockproof-primary-color;
$shockproof-border-color: $shockproof-primary-color;
$shockproof-border-width: 1px;
$shockproof-border-radius: 1rem;

$shockproof-close-color: $shockproof-primary-color;

@import "./BootstrapCustomization.scss";

@import "./scssLinks.scss";
