$shockproof-background-color: #263238;
$shockproof-primary-color: #BB86FC;
$shockproof-dark: #37474F;
$shockproof-border-radius: 0rem;

@import "./BootstrapCustomization.scss";

@import "./scssLinks.scss";
